
body {
  font-family: "Montserrat";
  text-align: left;
  top: 0;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

h1, table{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  color: #f9f9f9;
}
img{
  float: right;
  width: 400px;
  height: 300px;
}
/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 5% 10%;
  padding-bottom: 0;
}

/* Sections */

.colored-section {
  background-color: #11698e;
  color: #fff;
}

.orange-section {
  background-color: #ffb26b;
}

/* Navigation Bar */

.navbar {
  padding: 1rem 0 4.5rem;
  position: absolute;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Buttons */

.browse-button {
  margin: 2% 3% 5% 0;

}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
  left: 0;
  right: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
  padding-top: 1%;
}
/* Title Section */

#title {
  background-color: #11698e;

  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 1% 15% 7%;

}

/* Title Image */

.title-image {
  width: 101%;
  position: absolute;
  opacity: 0.3;

}

/* Features Section */

.card{
  margin-top: 5%;
  margin-bottom: 0;
}

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

.footer{
  position: fixed;
}
